body {
    background-color: #00f4ff;
}

main {
    padding-top: 5vh;
    margin: 0 auto;
    width: 60%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #001873;
    color: #ff7600;
    border: 2px solid #000;
    border-radius: 6px;
}

main > * {
    font-size: 2vw;
    height: 4vh;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1vw;
    font-family: monospace;
}

input {
    width: 20vw;
    height: 3vh;
    font-size: 2vw;
}

input, output {
    text-align: center;
}

table, th, td {
    font-size: 1.4vw;
    border: 1px solid #ff8e00;
    border-collapse: collapse;
    padding: 1vw;
    border-radius: 8px;
}

table {
    margin: 1vw;
    padding-bottom: 2.7vh
}

td {
    text-align: left;
}

th {
    text-align: right;
}